@{
    ViewBag.Title = "Contact";
}
<h2>Реквизиты для связи</h2>

<address>
    Город<br />
    Улица<br />
    Здание<br />
</address>

<address>
    <strong>Mail:</strong><a href="mailto:mail@example.com">Support@example.com</a><br />
</address>