@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="mainTable">
        <h3>Распродажа книг</h3>
        <table>
            <tr>
                <td>Название книги</td>
                <td>Автор</td>
                <td>Цена</td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td>@b.Name</td>
                    <td>@b.Author</td>
                    <td>@b.Price</td>
                    <td><a href="/Home/Buy/@b.Id">Купить</a></td>
                </tr>
            }
        </table>
    </div>

